<div>
  {{#if aspects }}
  <ol id="fate-aspect-tracker-list">
    {{#each aspects}}
    {{> modules/fate-aspect-tracker/templates/aspect-list-item.hbs }}
    {{/each}}
  </ol>
  {{else}}
  <p>
    {{ localize "FateAspectTracker.aspecttrackerwindow.placeholder" }}
  </p>
  {{/if}}
</div>

<div class="flex0">
  <button class="aspect-new">
    <i class="fas fa-plus"></i> {{ localize "FateAspectTracker.aspecttrackerwindow.newaspect" }}
  </button>
</div>