<div>
  {{#if tracker.aspects }}
  <ol id="fate-aspect-tracker-list">
    {{#each tracker.aspects}}
      {{> "modules/fate-aspect-tracker/templates/partial/aspect-item.hbs" aspect=this index=@index GM=../GM}}
    {{/each}}
  </ol>
  {{else}}
  <p>
    {{ localize "FateAspectTracker.aspecttrackerwindow.placeholder" }}
  </p>
  {{/if}}
</div>

{{#if GM}}
<div class="flex0">
  <button class="aspect-new">
    <i class="fas fa-plus"></i> {{ localize "FateAspectTracker.aspecttrackerwindow.newaspect" }}
  </button>
</div>
{{/if}}