#keikaku-todo-list > li:not(:last-child):after {
  content: "";
  display: block;
  height: 1px;
  width: 95%;
  margin: 5px;
  border: none;
  border-top: 1px solid #b5b3a4;
  border-bottom: 1px solid #f0f0e0;
}

#keikaku-todo-list .flexrow {
  align-items: center;
  flex-wrap: nowrap;
}

#keikaku-todo-list .todo-control {
  flex: 0;
  margin: 5px;
}

#keikaku-todo-list .todo-description {
  hyphens: auto;
  flex: auto;
  margin-right: 10px;
}

#keikaku-todo-list .todo-description.todo-done span.description {
  text-decoration: line-through;
}

#keikaku-todo-list span.tag {
  flex: 0;
  font-size: smaller;
  padding: 1px 3px;

  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}
